.header {
    background-color: #018764;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 550px;
}

.header h1 {
    color: #871a01;
    font-family: Calibri, serif;
    padding: 15px 60px;
    flex-grow: 2;
}

#mainContent {
    display: flex;
    justify-content: center;
}
